* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

footer {
    width: 100vw;
    height: 70px;
    background-color: #020D5D;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 0;
    z-index: 1000;
}

h6 {
    color: white;
    margin-bottom: 2px;
}

.moodContainer{
    width: 300px;
    display: flex;
    flex-wrap: wrap;
    gap: 5px 20px;
}

.progress-bar {
    width: 100px;
    height: 10px;
    background-color: #cf0103;
    z-index: 5000;
}
  
.progress {
    height: 100%;
    background-color: green;
    z-index: 6000;
}
  